.login_background{
    width: 100vw;
    min-height: 100vh;
}

.login_form{
    width: 50%;
    margin-top: 80px;
}

.header{
    padding-top: 50px;
    font-family: "Roboto";
    font-size: 30px;
}

.editprofile-btn{
    width: 100%;
    margin-bottom: 30px;
}

.editprofile-error-message{
    margin-bottom: 30px;
    color: red;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .login_form{
        width: 90%;
        margin-top: 80px;
    }

    .header{
        padding-top: 50px;
        font-family: "Roboto";
        font-size: 20px;
    }
}
